body{
    background-color: #212122;
    color:white;
    text-align: center;;
}
.button{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
    display: inline-block;
    margin-left:40px;
}

#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}

#green{
    background-color: green;
}